<html>
    <head>
	<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <!---<link rel="stylesheet" type="text/css"
        href="bootstrap.min.css">-->
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     </head>
<body>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="center">
        <div id="banner" >
		<h2>Antin kotisivu</h2>
        </div>


		  <div id="Carousel" class="carousel slide">
    <!-- Indicators -->
	<!--
    <ol class="carousel-indicators">
      <li class="item1 active"></li>
      <li class="item2"></li>
      <li class="item3"></li>
    </ol>
		-->
	   <div class="carousel-inner" role="listbox">
	      
		<div class="item">
    	    <img src="kahvi.jpg" alt="kahvi" width="460" height="345">
   	 	</div>
		<div class="item">
			<img src="ingetalvi.jpg" alt="Inge2" width="460" height="345">
		</div>
		<div class="item">
			<img src="Antti3.jpg" alt="Antti" width="460" height="345">
		</div>
		<div class="item">
			<img src="Antti2.jpg" alt="Antti" width="460" height="345">
		</div>
		<div class="item active">
			<img src="rasperry.jpg" alt="Rasperry Pi" width="460" height="345">
		</div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

	   </div>
	<div id="app">
       		 <div id="navBar" class="row">
           		<ul id="navigationbar" class="nav nav-tabs"
		         v-on:click.prevent>
               			 <li v-bind:class="{ active: home }" ><a href="#" v-on:click="makeActive(0)">Etusivu</a></li>
                		<li  v-bind:class="{ active: me }" ><a href="#"  v-on:click="makeActive(2)">Minusta</a></li>
                		<li v-bind:class="{ active: workHistory }" ><a href="#" v-on:click="makeActive(1)">Työhistoria</a></li>
				<li v-bind:class="{ active: skills }" ><a href="#" v-on:click="makeActive(3)" >Taidot</a></li>
			</ul>
        	</div>
        	<div id="content" class="row">
            		<div id="contentTitle">
               			 <h2>{{ title }}</h2>
							<br>
            		</div>
<!-- Frontpage -->
        <div v-show=" home">

			<div id="meetingCardOuter" >
				<div id="meetingCardInner">
								<h4 >Tervetuloa kotisivuilleni!</h4>

					<div id="meetingImage">
				<img src="latyt.jpg" id="latty" height="80%" padding="5%" alt="Antti" align="left"  >
					</div>
					<div id="meetingCardTexts">
					<p>
						Näillä kotisivuillani kerron hieman itsestäni ja taidoistani. Ollaanhan yhteyksissä!
					</p>
			
				 
					<span>Antti K</span>
					<br>
			 			040 835 6893 
						 <br>
					antti.kankaanranta@gmail.com
					</div>
			</div>
			</div>
		</div>


<!-- WorkHistory -->
		<div v-show="workHistory">

			<p>
				
				Työhistoriani alkoi lukion jälkeen, jolloin työskentelin Huittisten Saarioisilla ennen ja jälkeen armeijan.
				Muutettuani opiskelemaan Tampereelle ensimmäiset opiskelukesäni kuluivat vuorostaan Saarioisten Sahalahden tehtaalla. Elinikäistä elintarviketyöläistä minusta ei tullut, 
				mutta opin saarioislaisena monia kullanarvoisia taitoja: säntillisyyttä, työkavereiden huomioimista ja ymmärrystä tehtaasta systeeminä.
				
			</p>
			<p>
				Viimeiset kolme vuotta olen työskennellyt Pitäjänmäen ABB:llä. Kahden harjoitteluvuoden jälkeen siirryin diplomityöntekijäksi.
				<b>Diplomityöni aiheena on taajuusmuuttajien tietoturva. </b>
				Työni sisältää uhkamallin taajuusmuuttajille ja suositukset, 
				kuinka taajusmuuttajien kyberturvallisuutta voidaan parantaa tulevaisuudessa. <br>
				Työ on loppusilausta vaille valmis.
			</p>
			<p>
				<h2>Työnkuvat </h2>
				<br>
				Ennen diplomityöni aloittamista työskentelin ABB Drives:n tuotekehitysprosesseja kehittävässä tiimissä. 
				Vastuualueenani oli kehittää kollegani kanssa ohjelmistokehitysprosesseja. Järjestimme testauksen koulutuksia, raportoimme esimerkiksi 
				bugimetriikkaa ja yritimme yhtenäistää julkaisuprosessia.
				Ohjelmistoprosessien kehittämisen lomassa autoin myös muita tiimimme jäseniä heidän tehtävissään.
				Näin pääsin testaamaan hieman <b>tuntikirjausjärjestelmää</b> ja auttamaan <b>vaatimustenhallinnan</b> parissa.
			</p>

			<h3>Scrum ja ketterät menetelmät</h3>
			<p>
				Tiimimme käytti toiminnanohjausmenetelmänään Scrum-menetelmää, ja toimin itse kuukauden ajan Scrum Masterina. Pesti tuntui äärimmäisen tärkeältä:
				 varmistetaanhan siinä, että tiimi saa toimia kitkattomasti. Mielestäni Scrum on menetelmänä toimiva ja käytännössä sitä voidaan soveltaa oikeastaan kaikkeen tiimityöhön. Se
				pakottaa tiimiläiset kommunikoimaan keskenään joka aamu eikä päällekkäisyyksiä pääse syntymään.
				Lisäksi jonkun tiimiläisen ongelma saattaa olla juurikin se sama, jonka toinen tiimiläinen on ratkaissut päivää aikaisemmin.
				</p>
				<p> 
				Pidän Scrumissa erityisesti sprinttien katselmoinnista, koska sen avulla voidaan välittää tehokkaasti tietoa ja 
				vakiinnuttaa onnistuneita toimintatapoja. Pidän itse myös erityisen tärkeänä sitä, että 
				stand up -tapaamisissa tuotaisiin kohdattuja ongelmia reippaasti esiin eikä tapaamista käytettäisi 
				vain tulevan päivän ohjelman kertauksena tai raportointina esimiehelle. 
				</p>
				<p>
				Sain toiminnastani mukavan positiivista palautetta muilta tiimiläisiltä.
				<b>"Kyllä sä olet paras Scrum Master" </b>tokaisi eräs tiimiläinen. 
				(Tähän saattoi tosin vaikuttaa myös se, että tilasin sprintin suunnittelupalaveriin leivät ja kahvit kaikille...)
			</p>
			<p>
				Scrum Master -kokemuksen lisäksi olen myös <b>sertifioitu Scrum Product Owner.</b>
			</p>
			<p>
				
				
			</p>
			<p>
				
				
			
			</p>

			<h3>TFS</h3>
			<p>
				Pääsin heti ABB-urani alussa tositoimiin Microsoftin ALM-järjestelmä Team Foundation Serverin (TFS) kanssa, johon
				yksikkömme päätti siirtyä. Aikaisemmin bugit oli tallennettu Bugzillaan, mutta nyt TFS:n myötä bugit päätettiin siirtää sinne.
				Bugeja oli kertynyt jo aika liuta Bugzillaan ja tuotteen modulaadisuuden ja monimutkaisuuden vuoksi Bugzillan rakenne
				 ei ollut siirrettävissä suoraan TFS:än.<b> Vastasin bugien siirrosta uuteen järjestelmään, ja lisäksi opetin projektipäällikölle,
				miten TFS:ää käytetään </b>
	
			</p>
			<p>
				
			</p>

		  <br><br>
		<div class="well">
		  <h3>Virusskanneripalvelu</h3>
		  <button type="button" class="btn btn-default" v-on:click="workHistoryVirusScanner = true" v-show="!workHistoryVirusScanner">
			   <span class="glyphicon glyphicon-plus"></span>
		  </button>
		  <div id="virusScanner" v-show="workHistoryVirusScanner">
		  <p>
			Toinen mielenkiintoinen projektini ABB:llä liittyi siihen, kun saimme firman laajuiset tietoturvamääräykset.
			Eräs kohta näissä määräyksissä oli, että julkaistava softa olisi skannattava vähintään kolmella eri virusskannerilla.
			Tämä vaatimus oli pyörinyt jonkin aikaa tiimimme Kanban-taululla, kun lopulta päätin, että minä hoidan tämän tehtävän.
			Tehtävän suorittaminen vaati ensinnäkin <b> organisaation sisäistä koordinointia ja viestintää </b> . Otin yhteyttä muihin Pitäjänmäen
			softatiimeihin ja järjestin yhteyksiä Vaasan toimipisteeseen. Sieltä löytyi kuin löytyikin myös meidän toimipisteellemme
			sopiva järjestelmä. <b> Minä loin järjestelmään nettikäyttöliittymän C#:lla ja ASP.Net:llä.</b> 
		  </p>
		  <p>
			Kun palvelu oli saatu toimimaan, oli sen tarkoitus toimia väliaikaisena ratkaisuna vain oman väen keskuudessa.
			  Kuitenkin kävi, niin että huhut alkoivat liikkua ja Saksasta ja Englannista osoitettiin kiinnostusta työkalua kohtaan.
			  Näin ollen järjestelmä tuli paljon suuremmalle käytölle kuin aluksi oli ajateltu. <b> Oma-aloitteisuuteni tuotti siis firmallemme lopulta globaalin ratkaisun.</b>
		  </p>
		  	<button type="button" class="btn btn-default" v-on:click="workHistoryVirusScanner = false" v-show="workHistoryVirusScanner">
			   <span class="glyphicon glyphicon-minus"></span>
		  </button>
		  </div>
		</div>


		</div>


<!--- Hobbies -->
		<div v-show="me">
			<!-- philosophy -->	
			<p>
					Olen vuonna 1989 syntynyt, Huittisista kotoisin oleva ohjelmoijanalku. 
					Pääsin Tampereen teknilliseen yliopistoon opiskelemaan tietotekniikkaa vuonna 2010.
					 Päivääkään en ole sen jälkeen miettinyt alanvaihtoa. Tietotekniikka on minun juttuni.
					
			</p>
			<h3>Luonteeni</h3>
			<p>
				Luonteeltani olen ystävällinen, avulias ja puujalkahumoristi. 
				Humoristisuuttani hyödynnän työpaikalla ilmapiirin keventämisessä, mutta osaan tarvittaessa myös hillitä piirrettäni tilanteen 
				vaatimalla tavalla. Osaan vakavoitua ja katsoa asioita kriittisesti ja eri näkökulmista. 
				
			</p>

			<h3>Opiskelu</h3>
			<p>
				TTY:llä pääaineenani on ohjelmistotuotanto, jossa minua erityisesti  kiinnostaa 
				tällä hetkellä nettidevaaminen. 
				
			
				 Sivuaineinani ovat puolestaan teollisuustalous ja tietojohtaminen. Ne ovat tukeneet oman asiantuntijuuteni kehittymisessä minua eri tavoin. 
				 Tietojohtamisen myötä olen oppinut sitä, miten tietoa tuodaan käyttäjälle esille: tiedon havainnollistamista.  
				 Teollisuustaloudessa olen päässyt pohtimaan esimerkiksi johtamista ja markkinointia. Molempien sivuaineideni myötä 
				 olen mielestäni oppinut ajattelemaan ohjelmointia nimenomaan asiakkaan kannalta.
				
			</p>
			<p>
				
			</p>

			<h3>Ajatuksia ohjelmoinnista</h3>
			<p>
				Ohjelmoinnissa minua motivoi se, miten siinä yhdistyy haastavuus ja palkitsevuus.
				Ohjelmointi tarjoaa mukavan haastavia pähkinöitä purtavaksi, joiden ratkominen koukuttaa minua.
				 Usein koodatessani unohdankin ajankulun totaalisesti.
			</p>
			<p>
				Vaikka voin itse keskittyä koodaamiseen intensiivisesti, ohjelmointi luonnistuu mielestäni kuitenkin parhaiten tiimissä. Paras tiimi 
				on sellainen, jossa jokaisen osaamista arvostetaan ja osataan hyödyntää ja jossa jokainen jäsen on valmis auttamaan muita.
				Tällöin yhteisen tavoitteen saavuttaminen helpottuu, kun tiimiläisiltä voi kysyä apua vaikeissa paikoissa.
				Vastavuoroisesti ystäviä on mukava auttaa onnistumaan.
			</p>
			<p>
				Minua kiinnostaisi työskennellä alkuun full stack -kehittäjänä, koska haluan saada monipuolista kokemusta eri työnkuvista. 
				Kun olen kerryttänyt kokemusta, haaveilen Scrum Masterina tai Product Ownerina työskentelystä.
				Nämä roolit kiehtovat minua, koska olen työskennellyt pitkään Scrum-menetelmää käyttäen ja löytänyt siitä kahvipöytäkeskustelujeni vakioaiheen.
				
			</p>


			<h3>Harrastukseni</h3>
			<p>
				Harrastan salibandya, patikointia, elokuvia ja kirjallisuutta. Kirjallisus lienee tällä hetkellä suosikkiharrastukseni, koska sen avulla opin koko ajan kaikkea uutta.
				Luen kirjallisuutta laidasta laitaan (etusivulta takasivulle, heh), kaunokirjallisuuden klassikoista harraste- ja tietokirjoihin.
				Tällä hetkellä yöpöydälläni on Andrew Huntin ja David Thomasin The Pragmatic Programmer. 
				

				Näiden harrastusten lisäksi meillä on myös koira, joka esiintyy muun muassa sivuston karusellissa. 
			</p>
			<p>	Jos haluat tietää lisää harrastuksistani, klikkaa allaolevia pudotusvalikoita.</p>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<!-- first hobby -->
			  <div class="panel panel-default">
				      <div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" 
							href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          						Salibandy
        					</a>
      					</h4>
				      </div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
     					<div class="panel-body">
        					Olen pelannut salibandya viitosluokalta lähtien. 
							Ikävä kyllä muutamana viime vuotena en ole päässyt pelaamaan, 
							koska työnteko sekä opiskelu ovat vieneet niin paljon aikaa. 
							Tarkoituksenani on kuitenkin aloittaa harrastus heti tilaisuuden tullen uudestaan.
      					</div>
   					</div>
			  </div>
			<!-- Second hobby -->
			 <div class="panel panel-default">
    					<div class="panel-heading" role="tab" id="headingTwo">
     					 <h4 class="panel-title">
        					<a class="collapsed" role="button" data-toggle="collapse" 
							data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          						Patikointi
        					</a>
      					</h4>
    				</div>
    				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      					<div class="panel-body">
							Kävimme tyttöystäväni kanssa viime vuonna muutamaan otteeseen patikoimassa, ja innostuin harrastuksesta heti. Luonnossa rentoudun.
							Kävimme esimerkiksi Pöytyällä Kurjenrahkan kansallispuistossa ja Nuuksiossa useampaan otteeseen. 
     					</div>
    				</div>
  			</div>
				  <!-- Third hobby -->
			 <div class="panel panel-default">
    					<div class="panel-heading" role="tab" id="headingThree">
     					 <h4 class="panel-title">
        					<a class="collapsed" role="button" data-toggle="collapse" 
							data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          						Kirjallisuus
        					</a>
      					</h4>
    				</div>
    				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      					<div class="panel-body">
								<p>									
									Olen rakastan lukemista jo pienestä pitäen. Olen koonnut viime aikoina lukemistani teoksista lyhyen listan. 
										

								</p>
								<br>
								<input type="text" v-model="searchString" placeholder="rajaa:" />
								<table class="table table-hover">
									    <thead>
      										<tr>
        									<th>Nimi</th>
        									<th>Kirjoittaja</th>
        									<th>kuvaus</th>
        									</tr>
        									</thead>
											<tbody>
     										 <tr v-for="book in filteredBooks">
												<td> {{ book.title }} </td>
												<td> {{ book.author }} </td>
												<td> {{ book.description }} </td>
      										</tr>
								</table>
      					</div>
    				</div>
  				</div>


				  <!-- end -->
			  </div>


		</div>

<!-- Skills -->
		<div v-show="skills">
			<p>
				Tällä sivulla kerron lyhyesti mitä tekniikoita, kieliä ja frameworkkejä olen opiskellut.
				Näiden lisäksi kerron muutamasta ohjelmasta, jotka olen tehnyt ja mitä ajatukseni on tehdä seuraavaksi.
			</p>
			<h3> C++</h3>
			<p>
  			C++ oli ensimmäinen tuttavuuteni ohjelmoinnin maailmasta. Sillä olen koodannut monet harkkatyöt, ja olen
			   sinut olioiden, sockettien ja periyttämisen kanssa.
		
		  </p>
		  <h3> Python </h3>
		  <p>
		  <img src="python-logo.png" alt="Python" width="260" height="145">
		  <br>
		  Python on ehdottomasti suosikkikieleni. Se on nopea kirjoittaa, ja 
		  tulkkattavana kielenä pienten ohjelmien kirjoittaminen onnistuu joutuisasti.
		  Suosionsa vuoksi moneen yleiseen työkaluun löytyykin Python toteutus. 
		  Hyvänä esimerkkinä toimii <a href="http://selenium-python.readthedocs.io/index.html">Selenium</a>.
		  Mielestäni Python toimii hyvin varsinkin nettiboteissa. 
		<a href="http://docs.python-requests.org/en/master/">Request </a> kirjasto on helppokäyttöinen http requestien käsittelyyn.
		nettisivujen sisällön erotteluun <a href="">BeautifulSoup</a> on oiva työkalu.
		  </p>

		  <h3> Javascript </h3>
			<p>
			Javascriptiin olen parhaiten päässyt tutustumaan TTY:n projektityökurssilla, 
			jossa teimme datan visualisointiin ohjelman nimeltään Matta.
			  <br>
			  Matassa minun käsialaani olivat työntekijöiden taitojen listaaminen ja Dream Team -finder.
			  Matassa käytimme aikaisemman projektityökurssin tuottaman järjestelmän Hohdon rajapintaa.
			  Tämä projekti opettikin hyvin RESTful-rajapinnan käyttöä.
			  Opin projektissa myös kantapään kautta sen, että javascript on asynkroninen kieli. 
			</p>
			<p>
			  Toteutimme Matan Angular JS:llä, joten kyseinen framework tuli minulle tutuksi.
			  Angularin lisäksi olenkin opiskellut <a href="https://vuejs.org/"> Vue.js</a>-frameworkkia. 
			  Vue.js on melko uusi framework, mutta saavuttanut siitä huolimatta suuren suosion.
			  Tämän suuren suosion vuoksi päätin kokeilla kyseistä kirjastoa näillä sivuilla. 
			  Esimerkiksi sivujen navigaatio on tehty Vue:n avulla, sekä Minusta-välilehden listan esittäminen ja rajaaminen käyttävät Vue:ta.
		  </p>

		  <h3> C# </h3>
		  <p>
				C#:n olen tutustunut ensimmäisen kerran TTY:llä, jossa teimme harjoitustyönä vuoropohjaisen seikkailupelin. 
			  Myöhemmin pääsin myös ABB:llä tekemään muutaman pienen ohjelman C#:lla-
			  Eräs näistä ohjelmista oli virusskannauspalvelu, josta löytyy lisää tietoa työhistoria-välilehdeltä.
			  Palvelun lisäksi refaktoroin ohjelman, joka kuunteli TFS:n lähettämiä SOAP-viestejä 
			  ja lähetti niiden perusteella sähköpostia tietyistä muutoksista TFS:ssä. 
			  Kyseessä oli kehittämämme lisäominaisuus TFS:n, jossa tiettyjen tehtävien ja bugien etenemistä pystyttiin seuraamaan sähköpostin välityksellä.
		  </p>

		  <h3>Nettiselainpelin automatisointi</h3>
		  <p>
			  Kaikista mielenkiintoisin harrasteprojekti liittyy nettiselainpelin, Travianin, automatisointiin.
			  Pelissä menestyäkseen täytyy olla koneen ääressä yötä päivää. Tämä käy kuitenkin pitemmän päälle hienman rasittavaksi ja parisuhdetta riipiväksi,
			  joten päätin, että yritän automatisoida pelin eniten aikaa kuluttavimman elementin, ryöstelyn. Automatisoin selaimen 
			  toimintaa käyttämällä Seleniumilla. Selenium itsessään on tosi helppokäyttöinen työkalu. Kyseinen työkalu on minun Bitbucket repossani, 
			  mutta se ei ole yleisessä jaossa.
		  </p>
		  <h3>ABB:n tuotanto</h3>
		  <p>
			  ABB:llä olen ollut osallisena projektissa, joka suunnitteli ja toteutti työkalun, 
			  jolla skannataan toimitettavat softapaketit virusten varalta. Tämän työkalun toteutin yhdessä toisen harjoittelijan kanssa, 
			  joka piti huolta ohjelmakoodista, joka käynnistää virusskannerit ja tulostaa raportin. 
			  Itse vastasin nettisivuista, josta skanneriohjelmisto käynnistettiin.

		  </p>
		  <h3>Chat</h3>
		  <p>
			  Innostuin ennen joulua testaamaan, miten websocketit toimivat. Tein pienimuotoisen Chat-applikaation niiden avulla.
			  Ohejlman backendissä käytin Flaskia, koska se on minulle entuudestaan tuttu framework ja Flaskin websocketteihin on olemassa hyvä <a href="https://flask-socketio.readthedocs.io/en/latest/"> lisäosa</a>.
			  Backendissä käytin myös Pythonin SQLAlchemyä tietokannan kanssa kommunikointiin, jotta käyttäjien viestit näkyisivät myös uusille chat käyttäjille.
			  Frontendissä käytin Bootstrap.css ja Bootstrap.js:ää.
			  Applikaatio on saatavilla <a href="https://github.com/kankaan"> Githubista </a>.
		  </p>

		  <h3>Hakurobotti</h3>
		  <p>
			  Ennen joulua minulla oli tekeillä myös ohjelma, joka tutkii etuovi.fi:stä kaikki valitun alueen asunnot ja tallentaa ne tietokantaan.
			  Pääsin tässä työssä alkuun ja tarkoituksena olisi tehdä vielä se toimivaan vaiheeseen, 
			  jotta voisin myöhemmin tarkastella myytäviä asuntoja ja vertailla niitä asuntojen hintatiedot -palvelun hintoihin.
			  Olen aloittanut projektin koodaamisen Pythonila.
			  Sisällön parsimiseen olen käyttänyt tuttuja BeautifulSoup ja Request -kirjastoja. 
		  </p>
		</div>


		</div>
	</div>
	

<!-- footer -->
        <div id="footer" class="row">
		<script src="scripts.js"></script>
        	Antti Design
	</div>
    </div>
    <div class="col-md-3"></div>
</div>
</body>
</html>
